* {
    font-family: 'Inter', sans-serif;
}

.bg-custom {
    background-color: #f8f9fa;
}

.logo-container {
  background-color: #4e9ca4;
  color: #FFF;
}
.logo {
  font-family: 'Handlee', cursive;
}
.text-light:hover {
  border-bottom: 1px solid white;
  opacity: 0.8;
}
.inventario{
  font-family: 'Bruno Ace SC', cursive;
}

.table-hover tbody tr:hover {
  background-color: #F2F2F2;
}