<head th:fragment="head(valor)">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${valor}"></title>
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<header th:fragment="header">
  <nav th:fragment="logo" class="navbar navbar logo-container p-2 d-flex justify-content-between row">
    <div class="container-fluid gap-3">
      <a href="/inventory" class="logo fs-3 mt-1 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">Tech House</a>
      <a href="/inventory" class="nav-item nav-link link-white fw-bold mt-1 mb-1">Produtos</a>
      <a href="/acao/saida" class="nav-item nav-link link-white fw-bold mt-1 mb-1">Saídas</a>
      <a href="/acao/entrada" class="nav-item nav-link link-white fw-bold mt-1 mb-1">Entradas</a>
      <a href="#" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="26" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
      </a>
    </div>
  </nav>

<!--  <nav th:fragment="navbar" class="navbar navbar-expand-lg d-flex justify-content-around mb-2 p-2 ">-->
<!--    <div class="container-fluid">-->
<!--      <div class="container d-flex p-0 justify-content-between">-->
<!--        <a href="/inventory" class="nav-item nav-link link-secondary fw-bold mt-1 mb-1">Produtos</a>-->
<!--        <a href="/acao/saida" class="nav-item nav-link link-secondary fw-bold mt-1 mb-1">Saídas</a>-->
<!--        <a href="/acao/entrada" class="nav-item nav-link link-secondary fw-bold mt-1 mb-1">Entradas</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
</header>