<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head th:replace="~{base :: head('home')}"></head>
<body class="bg-custom">

    <header th:replace="~{base :: header}"></header>

    <div class="container">
        <div class="p-1 bg-body-secondary rounded-3 d-flex justify-content-center mb-2 mt-4">
            <h1 th:if="${quantidade >= 0}" class="display-5 fw-medium" th:text="'Produtos em Estoque: ' + ${quantidade}">Produtos em Estoque</h1>
            <h1 class="display-5 fw-medium" th:unless="${quantidade != -1}">Produtos Buscados</h1>
        </div>

        <div class="d-flex justify-content-between mt-3 mb-3">
            <div class="gap-3 mt-1">
                <a href="/produto/em-falta" class="nav-item mt-1 fw-bold link-secondary text-decoration-none">Produtos em Falta</a>
                <a href="/produto/formulario" class="mx-3 nav-item mt-1 fw-bold link-secondary text-decoration-none">Novo Produto</a>
            </div>
            <form action="/produto/buscas" method="post" class="d-flex" role="search">
                <input id="pesquisa" name="pesquisa" class="form-control me-2" type="search" placeholder="Buscar Produto" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
        </div>

        <div th:if="${produtos.isEmpty()}" class="text-center mt-5">
            <h2 class="display-5">Nenhum Produto Encontrado!</h2>
        </div>
        <div th:unless="${produtos.isEmpty()}" class="table-responsive">
            <table class="table table-bordered border-black table-hover">
                <thead class="table-dark border-secondary">
                <tr class="text-center fw-bold">
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Qtd</th>
                    <th scope="col">Ação</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="produto : ${produtos}" class="text-center fw-medium">
                        <td th:text="${produto.nome}">Nome</td>
                        <td th:text="${produto.tipo.getDescricao()}">Tipo</td>
                        <td th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco,3,'POINT',2,'COMMA')}">preço</td>
                        <td th:text="${produto.quantidadeEstoque}">Quantidade</td>
                        <td>
                            <div class="btn-group gap-1">
                                    <a th:href="@{/produto/formulario?id={id}(id=${produto.id})}" class="btn btn-success btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </a>
                                    <form action="/produto" method="post">
                                        <input type="hidden" name="_method" value="delete" />
                                        <input type="hidden" name="id" th:value="${produto.id}" />
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                            </svg>
                                        </button>
                                    </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>