<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head th:replace="~{base :: head('home')}"></head>
<body>

<header th:replace="~{base :: header}"></header>

<div class="container">
    <div class="p-1 bg-body-secondary rounded-3 d-flex justify-content-center mb-2">
        <h1 class="display-5">Produtos em Estoque</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered border-black table-hover">
            <thead class="table-dark border-secondary">
            <tr class="text-center">
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Preço</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Ação</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${produtos}" class="text-center">
                    <td th:text="${produto.nome}">Nome</td>
                    <td th:text="${produto.tipo.getDescricao()}">Tipo</td>
                    <td th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco,3,'POINT',2,'COMMA')}">preço</td>
                    <td th:text="${produto.quantidadeEstoque}">Quantidade</td>
                    <td><button class="btn btn-warning btn-sm">Editar</button> <button class="btn btn-secondary btn-sm">Excluir</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>