<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head th:replace="~{base :: head('login')}"></head>
<body class="bg-custom">
    <header>
        <nav th:fragment="logo" class="navbar navbar logo-container p-2 d-flex justify-content-between row">
            <div class="container-fluid gap-3">
                <span  class="logo fs-3 mt-1 text-light">Tech House</span>
                <span class="logo fs-3 mt-1 text-light">Inventário</span>
            </div>
        </nav>
    </header>
    <div class="container">

    </div>
</body>
</html>