<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head('Cadastro de Produto')}"></head>
<body>

    <header>
        <div th:replace="~{base :: logo}"></div>
    </header>
    <div class="container">

        <div class="card mt-4">
            <div class="card-header text-bg-secondary text-center">
                <h1>Cadastro de Produto</h1>
            </div>
            <form th:object="${dadosCadastroProduto}" action="/produto/novo" method="post" class="card-body">
                <div class="form-group mb-3">
                    <label>Produto</label>
                    <input th:field="*{nome}" placeholder="nome do produto" class="form-control"/>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label>Preço</label>
                        <div class="input-group">
                            <div class="input-group-text">R$</div>
                            <input th:field="*{preco}" type="number" step="0.01" min="0" class="form-control" placeholder="ex: 1500.35">
                        </div>
                    </div>
                    <div class="col">
                        <label>Quantidade Mínima</label>
                        <input th:field="*{quantidadeMinima}" type="number" min="0" class="form-control" placeholder="mínima">
                    </div>
                    <div class="col">
                        <label>Quantidade Máxima</label>
                        <input th:field="*{quantidadeMaxima}" type="number" min="0" class="form-control" placeholder="máxima">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-5">
                        <label>Tipo de produto</label>
                        <select th:field="*{tipo}" class="form-select">
                            <option th:each="p : ${tipoProduto}" th:value="${p}" th:text="${p.getDescricao()}"></option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

</body>
</html>